version: "3"

services:
  # --- SEDE A ---
  router-a:
    image: lscr.io/linuxserver/wireguard:latest
    container_name: router-a
    cap_add: [NET_ADMIN, SYS_MODULE]
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - ./config_a:/config
      - /lib/modules:/lib/modules
    networks:
      wan_simulata:
      lan_a:
        ipv4_address: 10.100.10.2      # <--- CORRETTO (Non usare .1)
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv4.ip_forward=1

  pc-a:
    image: alpine
    container_name: pc-a
    # Rimosso "apk add". Usiamo il comando ip nativo.
    command: sh -c "ip route del default && ip route add default via 10.100.10.2 && sleep infinity"
    networks:
      lan_a:
        ipv4_address: 10.100.10.10
    cap_add: [NET_ADMIN]

  # --- SEDE B ---
  router-b:
    image: lscr.io/linuxserver/wireguard:latest
    container_name: router-b
    cap_add: [NET_ADMIN, SYS_MODULE]
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - ./config_b:/config
      - /lib/modules:/lib/modules
    networks:
      wan_simulata:
      lan_b:
        ipv4_address: 10.100.20.2      # <--- CORRETTO (Non usare .1)
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv4.ip_forward=1

  pc-b:
    image: alpine
    container_name: pc-b
    # Rimosso "apk add". Usiamo il comando ip nativo.
    command: sh -c "ip route del default && ip route add default via 10.100.20.2 && sleep infinity"
    networks:
      lan_b:
        ipv4_address: 10.100.20.10
    cap_add: [NET_ADMIN]

networks:
  wan_simulata:
    driver: bridge
  lan_a:
    driver: bridge
    ipam:
      config:
        - subnet: 10.100.10.0/24
  lan_b:
    driver: bridge
    ipam:
      config:
        - subnet: 10.100.20.0/24