version: "3"

services:
  # --- SEDE A (Nuova Rete 10.100.10.x) ---
  router-a:
    image: lscr.io/linuxserver/wireguard:latest
    container_name: router-a
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - ./config_a:/config
      - /lib/modules:/lib/modules
    networks:
      wan_simulata:
      lan_a:
        ipv4_address: 10.100.10.1      # IP Router A
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv4.ip_forward=1

  pc-a:
    image: alpine
    container_name: pc-a
    # Default Gateway puntato al nuovo IP del router
    command: sh -c "apk add --no-cache iproute2 && ip route del default && ip route add default via 10.100.10.1 && sleep infinity"
    networks:
      lan_a:
        ipv4_address: 10.100.10.10     # IP PC A
    cap_add:
      - NET_ADMIN

  # --- SEDE B (Nuova Rete 10.100.20.x) ---
  router-b:
    image: lscr.io/linuxserver/wireguard:latest
    container_name: router-b
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - ./config_b:/config
      - /lib/modules:/lib/modules
    networks:
      wan_simulata:
      lan_b:
        ipv4_address: 10.100.20.1      # IP Router B
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv4.ip_forward=1

  pc-b:
    image: alpine
    container_name: pc-b
    # Default Gateway puntato al nuovo IP del router
    command: sh -c "apk add --no-cache iproute2 && ip route del default && ip route add default via 10.100.20.1 && sleep infinity"
    networks:
      lan_b:
        ipv4_address: 10.100.20.10     # IP PC B
    cap_add:
      - NET_ADMIN

networks:
  wan_simulata:
    driver: bridge
  lan_a:
    driver: bridge
    ipam:
      config:
        - subnet: 10.100.10.0/24       # Sottorete Sicura A
  lan_b:
    driver: bridge
    ipam:
      config:
        - subnet: 10.100.20.0/24       # Sottorete Sicura B